<header class="text-center">
  <h1 class="font-weight-bold mt-5">New Quiz</h1>
</header>

<section class="text-center mb-5 my-"> <!-- blogs -->
  <div class="container">  <!-- container -->
    <%= render 'form', quiz: @quiz %>
  </div> <!-- container -->
</section>
