<section class="text-center text-sm-right px-5 pt-2">
  <% if current_user && current_user.admin %>
      <%= link_to 'New Blog', new_blog_path %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to 'Admin Blogs Portal', admin_blogs_path %>
  <% end %>
</section>



<header class="text-center mb-4">
  <h1 class="font-weight-bold my-3">The Blog</h1>
  <!-- <p class="dark-grey-text w-responsive mx-auto mb-5"></p> -->
</header>



<section class="container mb-5"> <!-- blogs -->
  <div class="row">  <!-- Grid row -->

    <% @blogs.each do |blog| %>
      <%= render partial: "blogs/blogcard", locals: {blog: blog } %>
    <% end %>

  </div>
  <!-- Grid row -->

</section>
