<main class="mb-5 mt-3">

  <div class="text-right px-5">
    <%= link_to "Edit My Information", edit_user_registration_path(@user) %>
  </div>

  <div class="container">

    <header class="text-center">
      <h1>My Account</h1>
      <p>
        <em><%= @user.full_name %></em>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <% if @user.admin %>
          <em>Administrator</em>
        <% elsif @user.contributor %>
          <em>Contributor</em>
        <% else %>
          <em>Member Since <%= @user.created_at.year %></em>
        <% end %>
      </p>
    </header>



    <section>
      <%= render partial: "users/contributor_box", locals: { user: @user } %>
    </section>

  </div> <!-- container -->





</main>
