<section class="view" style="height: 500px">
  <div class="jumbotron card card-image h-100" style="background-image: url(https://sixkeyskills.s3-us-west-1.amazonaws.com/boy-ladder.jpg);">
  </div> <!-- jumbotron -->

  <div class="mask rgba-stylish-slight h-100">

    <div class="text-white text-center px-4">
      <div class="row pt-1 mt-1 pt-sm-4 mt-sm-4"> <!--Grid row-->

        <div class="col-sm-4 d-none d-sm-block">
        </div> <!-- buffer column -->

        <div class="col-12 col-sm-8 align-self-end mt-5 black-text text-center text-md-left wow fadeInLeft" data-wow-delay="0.3s">
          <h2 class="display-4 font-weight-bold">What's keeping you from&nbsp;success?</h2>
          <hr class="hr-dark">
          <h5 class="mb-3 font-weight-bold">
            Whatever your goal is, you need six key skills to succeed.  If you haven't reached a goal, it's because you're lacking in one of these key areas.
          </h5>
          <h5 class="mb-3 font-weight-bold">
            Take the free quiz to see which skills are keeping you from your goals.
          </h5>
          <a class="btn btn-outline-black">Take the Quiz</a>
        </div> <!--Grid column-->

      </div> <!--Grid row-->
    </div> <!-- text -->

  </div> <!-- mask -->
</section> <!-- view -->
