<div class="row">
  <% subcategories.each do |sub| %>

    <%= link_to subcategory_path(sub) do %>
      <div class="col-sm-6 col-md-4 pb-4">
        <div class="view zoom z-depth-3">
          <img src="<%= url_for(sub.image) %>" class="img-fluid thumbnail-grid-image" alt="<%= sub.name %>">
          <div class="mask flex-center waves-effect waves-light rgba-white-strong">
            <p class="h2 font-weight-bold"><%= sub.name %></p>
          </div>
        </div>
      </div> <!-- col -->
    <% end %>

  <% end %>
</div> <!-- row -->
