

<main>

  <div class="view jarallax" style="height: 100vh;">

    <img class="jarallax-img" src="https://sixkeyskills.s3-us-west-1.amazonaws.com/begin.jpg" alt="">

    <div class="mask rgba-white-light">
      <div class="container flex-center text-center pb-5">
        <div class="row pb-5">
          <div class="col-md-12 wow fadeIn">
            <h1 class="display-3 mb-2 wow fadeInDown text-black font-weight-bold" data-wow-delay="0.3s">Motivation</h1>
            <h4 class="mb-3 mt-1 font-weight-bold wow fadeIn text-black" data-wow-delay="0.4s">
              Motivation is the equivalent of the gas in your tank.  You can't get where you want to go without it.
            </h4>
            <h4 class="mb-3 mt-1 font-weight-bold wow fadeIn text-black" data-wow-delay="0.4s">
              Take the free quiz to see if your motivation is helping you achieve your goals.
            </h4>
            <a class="btn color-slate btn-lg wow fadeIn text-white text-white-hover" href="#motivation-skills" data-wow-delay="0.4s">Read More</a>
            <a class="btn color-red btn-lg wow fadeIn text-white text-white-hover" data-wow-delay="0.4s">Take the Quiz</a>
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- mask -->

  </div> <!-- jarallax view -->


  <div class="z-depth-3">
    <div class="container pb-4">

      <div class="row" id="motivation-skills">  <!--Grid row-->
        <div class="col-md-12 my-5 text-center"> <!--Grid column-->

          <h2 class="h1 font-weight-bold text-navy pt-4 pb-4">Motivation Skills</h2>
          <% subcategories = Subcategory.where(motivation: true, active: true) %>
          <%= render partial: "pages/subcategories_list", locals: { subcategories: subcategories } %>

        </div> <!--Grid column-->
      </div> <!--Grid row-->

    </div> <!-- container -->
  </div> <!-- z depth -->



  <div class="view jarallax">
    <img class="jarallax-img" src="https://sixkeyskills.s3-us-west-1.amazonaws.com/do-more-computer.jpg" alt="">
  </div>



</main>


<script>
  $(document).ready(function() {
    // object-fit polyfill run
    objectFitImages();

    /* init Jarallax */
    jarallax(document.querySelectorAll('.jarallax'));

    jarallax(document.querySelectorAll('.jarallax-keep-img'), {
        keepImg: true,
    });
  });
</script>
