

<main>

  <div class="view jarallax" style="height: 100vh;">

    <img class="jarallax-img" src="https://sixkeyskills.s3-us-west-1.amazonaws.com/time-management.jpg" alt="">

    <div class="mask rgba-white-light">
      <div class="container flex-center text-center pb-5">
        <div class="row pb-5">
          <div class="col-md-12 wow fadeIn">
            <h1 class="display-3 mb-2 wow fadeInDown text-black font-weight-bold" data-wow-delay="0.3s">Time Management</h1>
            <h4 class="mb-3 mt-1 font-weight-bold wow fadeIn text-black" data-wow-delay="0.4s">
              Time management is more than just keeping track of your to do list.
            </h4>
            <h4 class="mb-3 mt-1 font-weight-bold wow fadeIn text-black" data-wow-delay="0.4s">
              Learn how to prioritize the various areas of your life, how to manage individual projects, and how to maximize your productivity.
            </h4>
            <h4 class="mb-3 mt-1 font-weight-bold wow fadeIn text-black" data-wow-delay="0.4s">
              Want to know how your time management skills stack up?  Take the quiz.
            </h4>
            <a class="btn color-slate btn-lg wow fadeIn text-white text-white-hover" href="#time-management-skills" data-wow-delay="0.4s">Read More</a>
            <% if Quiz.where(slug: "Time Management").count != 0 %>
              <%= link_to "Test Your Time Management", quiz_path(Quiz.where(slug: "Time Management").first.id), class: "btn color-red btn-lg wow fadeIn text-white text-white-hover" %>
            <% end %>
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- mask -->

  </div> <!-- jarallax view -->


  <div class="z-depth-3">
    <div class="container pb-4">

      <div class="row" id="time-management-skills">  <!--Grid row-->
        <div class="col-md-12 my-5 text-center"> <!--Grid column-->

          <h2 class="h1 font-weight-bold text-navy pt-4 pb-4">Time Management Skills</h2>
          <% subcategories = Subcategory.where(time_management: true, active: true) %>
          <%= render partial: "pages/subcategories_list", locals: { subcategories: subcategories } %>

        </div> <!--Grid column-->
      </div> <!--Grid row-->

    </div> <!-- container -->
  </div> <!-- z depth -->



  <div class="view jarallax">
    <img class="jarallax-img" src="https://sixkeyskills.s3-us-west-1.amazonaws.com/time-management-2.jpg" alt="">
  </div>



</main>


<script>
  $(document).ready(function() {
    // object-fit polyfill run
    objectFitImages();

    /* init Jarallax */
    jarallax(document.querySelectorAll('.jarallax'));

    jarallax(document.querySelectorAll('.jarallax-keep-img'), {
        keepImg: true,
    });
  });
</script>
