<header class="text-center">
  <h1 class="font-weight-bold mt-5">Register for <%= Course.friendly.find(params[:course]).name %></h1>
</header>

<section class="text-center mb-5 my-"> <!-- blogs -->
  <div class="container">  <!-- container -->
    <%= render 'form', course_registration: @course_registration %>

    <%= link_to 'Back to Courses', courses_path %>

  </div> <!-- container -->
</section>
