/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
  *= require_tree .
  *= require_self
  *= require perfect-scrollbar
  */

   @import 'bootstrap';
   @import 'mdb/mdb';
   @import 'font-awesome';
   @import 'font_awesome5_webfont';
   @import 'font_awesome5.css';






/*-----------------------------
-------------------------------
------------COLORS-------------
-------------------------------
-------------------------------
-----------------------------*/

$color-navy: #383b53 !important;
$color-beige: #ccc5b9 !important;
$color-red: #ad343e !important;
$color-slate: #516c8a !important; //formerly 66717e
$color-whiteish: #fffcf7 !important;
$color-white: #fff !important;
$color-transparent-white: rgba(255, 255, 255, 0.7) !important;
$color-transparent-slate: rgba(81, 108, 138, 0.5) !important;

.color-navy { background-color: $color-navy; }
.color-beige { background-color: $color-beige; }
.color-red { background-color: $color-red; }
.color-slate { background-color: $color-slate; }
.color-whiteish { background-color: $color-whiteish; }
.color-white { background-color: $color-white; }
.color-transparent-white { background-color: $color-transparent-white; }
.color-transparent-slate { background-color: $color-transparent-slate; }

.bottom-border-slate { border-bottom: solid 5px $color-slate; }

.text-navy { color: $color-navy; }
.text-beige { color: $color-beige; }
.text-red { color: $color-red; }
.text-slate { color: $color-slate; }
.text-whiteish { color: $color-whiteish; }
.text-white { color: white !important; }

.text-white-hover:hover { color: white !important; }

.uppercase { text-transform: uppercase; }

a, .linkish { color: $color-slate; cursor: pointer; }
a:hover, .linkish:hover { color: $color-navy }

* { font-family: 'Roboto', sans-serif; }
.serif, .font-serif { font-family: 'Cormorant', serif; }
#blog-body p, #blog-body li, #blog-body em, #blog-body strong, #blog-body a, #blog-body p * { font-family: 'Roboto', sans-serif; font-weight: 400 }
#blog-body strong { font-weight: 800; }

.lesson-body h2, #blog-body h2 { font-size: 3rem; color: $color-red; font-weight: 200; }
.lesson-body h3, #blog-body h3 { font-size: 2.3rem; color: $color-slate; font-weight: 500; }
.lesson-body h4, #blog-body h4 { font-size: 1.8rem; color: $color-navy; font-weight: 800; }
.lesson-body h5, #blog-body h5 { font-size: 1.2rem; color: $color-beige; font-weight: 900; text-transform: uppercase; }


strong { font-weight: 800; }

.inliine-block { display: inline-block; }
.hidden { display: none !important; }

p { overflow-x: hidden; }

#user-page h2 {
  font-weight: bold;
}

#user-page h3 {
  text-transform: uppercase;
  font-weight: 200;
}









/*-----------------------------
-------------------------------
----------NAVIGATION-----------
-------------------------------
-------------------------------
-----------------------------*/

.navbar { z-index: 500; }

.side-nav { overflow-y: scroll; }
.side-nav .logo-wrapper { height: 150px; }
.sidenav-icon, .icon-width { display: inline-block; width: 25px;}
.nav-link { color: $color-navy; font-weight: 700; }
.nav-item { padding-left: 10px; }
.side-nav .collapsible a { font-size: 0.9rem !important; }
.side-nav { font-size: 0.9rem; }


.dropdown .dropdown-menu.dropdown-info .dropdown-item:hover, .dropdown .dropdown-menu.dropdown-info .dropdown-item:active, .dropdown .dropdown-menu.dropdown-info .dropdown-item.active, .dropup .dropdown-menu.dropdown-info .dropdown-item:hover, .dropup .dropdown-menu.dropdown-info .dropdown-item:active, .dropup .dropdown-menu.dropdown-info .dropdown-item.active, .dropleft .dropdown-menu.dropdown-info .dropdown-item:hover, .dropleft .dropdown-menu.dropdown-info .dropdown-item:active, .dropleft .dropdown-menu.dropdown-info .dropdown-item.active, .dropright .dropdown-menu.dropdown-info .dropdown-item:hover, .dropright .dropdown-menu.dropdown-info .dropdown-item:active, .dropright .dropdown-menu.dropdown-info .dropdown-item.active {
    background-color: $color-slate;
  }

.colorful-select .dropdown-content li span { color: black !important; }
.colorful-select .dropdown-content li:hover, .dropdown-content li:active { background-color: $color-slate; color: white !important; }
.colorful-select .dropdown-content li.active span { color: black !important; }

ul.stepper a { margin-top: 0px !important; margin-bottom: 0px !important }
ul.stepper { margin: 0px !important; padding: 0px !important}
.danger-color, ul.stepper li.active a .circle { background-color: $color-slate; }
.danger-color, ul.stepper li.warning a .circle { background-color: $color-red; }








/*-----------------------------
-------------------------------
------------BUTTONS------------
-------------------------------
-------------------------------
-----------------------------*/

.btn { font-weight: bold; }

.btn-primary, .btn-slate { background-color: $color-slate; color: white !important; }
.btn-primary:hover, .btn-slate:hover { color: white !important; }

.btn-red { background-color: $color-red; }
.btn-red:hover { color: white !important; }








/*-----------------------------
-------------------------------
---------PROGRESS BAR----------
-------------------------------
-------------------------------
-----------------------------*/

.progress.progress-blue {
  background-color: rgba(81, 108, 138, 0.5);
  height: 25px;
  border: solid thin grey;
  border-radius: 0;
  margin-bottom: 0;
}

.progress.progress-blue .progress-bar {
  color: white;
  background-color: $color-slate;
  height: 25px;
  padding: 3px;
}







/*-----------------------------
-------------------------------
---------COURSE NAV------------
-------------------------------
-------------------------------
-----------------------------*/

nav#course-nav {
  height: 100%;
  width: 0px;
  z-index: 100;
  padding-top: 105px;
  padding-left: 0px;
  padding-right: 0px;
  position: fixed;
  overflow-y: scroll;
  background-color: $color-navy;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

nav#course-nav p, nav#course-nav li {
  font-size: .9rem;
  line-height: 1.2;
}

nav#course-nav * a, nav#course-nav * {
  color: $color-white;
}

nav#course-nav * a:hover {
  color: $color-beige;
}

footer.course-padded {
  padding-left: 0px;
}

.non-mobile-250-margin {
  margin-left: 0px
}

@media screen and (min-width: 768px) {
  .non-mobile-250-margin {
    margin-left: 250px
  }

  nav#course-nav {
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
  }

  nav#course-nav * a, nav#course-nav * {
    color: $color-white;
  }

  nav#course-nav * a:hover {
    color: $color-beige;
  }

  footer.course-padded {
    padding-left: 250px;
  }
}

@media only screen and (min-width : 1441px) {
  nav#course-nav {
    width: 500px;
    padding-left: 250px;
  }
}

.closebtn {
    position: absolute;
    top: 0;
    margin-top: 75px;
    right: 15px;
    font-size: 36px !important;
    margin-left: 50px;
}











/*-----------------------------
-------------------------------
--------------FORMS------------
-------------------------------
-------------------------------
-----------------------------*/

.picker__box .picker__header .picker__date-display .picker__weekday-display { background-color: $color-navy; }
.picker__box .picker__header .picker__date-display { background-color: $color-slate; }


.md-form input[type=text]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
    box-shadow: 0 1px 0 0 $color-red;
    border-bottom: 1px solid $color-red;
}

label.active { color: $color-red; }

.form-check-input[type="checkbox"]:checked + label:before, label.btn input[type="checkbox"]:checked + label:before {
  border-right: 2px solid $color-red;
  border-bottom: 2px solid $color-red;
}










/*-----------------------------
-------------------------------
--------DESIGN ELEMENTS--------
-------------------------------
-------------------------------
-----------------------------*/

blockquote {
  margin: 0;
  margin-bottom: 30px;
  border: solid thin $color-red;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  padding: 20px 30px;
  text-align: center;
}

blockquote p {
  padding: 0;
  margin: 0;
}


.offwhite-card {
  background-color: $color-whiteish;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.product-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.goal-box {
  border: solid thin $color-slate;
  padding: 15px;
  border-radius: 8px;
  color: $color-slate;
}

.goal-box p {
  font-size: 1.1rem;
  margin-bottom: 0px;
  line-height: 1.15;
}

.breadcrumbs {
  margin-top: -5px;
  background-color: $color-slate;
  padding: 15px 25px;
  color: $color-white;
  font-size: 1.1rem;
}

.breadcrumbs a { font-weight: bold; color: $color-white; }
.breadcrumbs svg { font-size: 1.1rem; margin: 0px 10px; }

#video iframe {
  max-width: 100% !important;
}

.lesson-body img {
  max-height: 60vh;
  max-width: 500px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 30px;
}








/*-----------------------------
-------------------------------
---------MDB OVERRIDES---------
-----------AND DESIGN----------
-------------------------------
-----------------------------*/

.display-3 { font-size: 3rem; }
h4, .h4 { font-size: 1.3rem; }
.contributor-box { margin: 0px 15px; }

@media screen and (min-width: 768px) {
  .display-3 { font-size: 4.5rem; }
  h4, .h4 { font-size: 1.5rem; }
  .contributor-box { margin: 0; }
}

.hover-box {
  width: 100%;
  height: 100%;
  font-weight: 800;
  background-color: $color-transparent-white;
  border: solid thin $color-slate;
  padding: 10px 5px;
  margin: 15px 0;
  line-height: 1;
}

.hover-box:hover {
  background-color: $color-white;
  color: $color-red;
  border-color: $color-red;
}

.hidden { display: none; }




.rgba-black-med, .rgba-black-med:after {
    background-color: rgba(0, 0, 0, 0.5);
}
#blog .main-image.jarallax * {
  color: $color-white;
}

.thumbnail-grid-image {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.blog-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

html { scroll-behavior: smooth; }
.non-footer { min-height: calc(100vh - 265px); }

body { padding-left: 240px; }

p.small-line-height { line-height: 1.2 }

@media only screen and (max-width : 1441px) {
  body {
    padding-left: 0;
  }
}

@media only screen and (min-width : 1441px) {
  .hidden-with-sidenav { display: none; }
}


.alert { margin: 0; z-index: 500; }



.thumbnail {
  height: 250px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.thumbnail-sm {
  height: 150px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.card-header {
  background-color: $color-slate;
  color: white;
  font-size: 1.2rem;
}

.card-title { color: $color-navy; font-weight: 700; }

footer p { margin-bottom: 0; }

.pin {
  height: 200px;
  display: inline-block;
  margin: 8px;
}



// TABLES OF CONTENTS
.toc {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  padding: 25px;
  margin: 35px 0;
}

.toc h2, .toc h3 { text-align: center; }

.toc a {
  color: $color-slate;
  font-weight: 900 !important;
}

.toc p {
  margin-bottom: 0;
  padding-bottom: 0;
}

.toc .sub {
  margin-left: 15px;
  font-weight: 400 !important;
  color: $color-red;
}

.toc .sub-sub {
  margin-left: 30px;
  font-weight: 200 !important;
  color: $color-navy;
  font-style: italic;
}



// PREPOPULATED TWEET

.tweet {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
	position: relative;
	background: $color-white;
	border-radius: .4em;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.tweet:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: $color-white;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.tweet a {
  font-weight: 800;
  color: #00ACEE !important;
}

.tweet a:before {
    font-family: FontAwesome;
    content: "\f099";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}


















table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

table.table th, table.table td {
  padding: 2px 5px;
}

.paginate_button {
  padding: 0 5px;
}

.classic-tabs .nav li a {
    padding: 10px !important;
    font-size: 1.1rem !important;
    text-transform: none !important;
  }

.contributor-box {
  border: solid thin $color-slate;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.contributor-box .box-header {
  background-color: $color-transparent-slate;
  color: white !important;
  padding: 20px 40px 10px 40px;
}

.contributor-box .box-body {
  padding: 20px 40px 10px 40px;
}
