<header class="text-center">
  <h1 class="font-weight-bold mt-5">New Lead Magnet</h1>
</header>

<section class="text-center mb-5"> <!-- blogs -->
  <div class="container">  <!-- container -->
    <%= render 'form', lead_magnet: @lead_magnet %>
  </div> <!-- container -->
</section>
